<div class="container">
  <h1>Welcome to Lambert's Blog</h1>

  <div>
    <% @articles.each do |article| %>
    <div class="card-article pointer" onclick=document.location="<%= article_path(article) %>">
      <div class="card-article-image"><%= cl_image_tag article.main_picture, class:"card-article-image" %></div>
      <div class=card-article-infos>
        <h2><%= article.title%></h2>
        <p>un petit sous-titre descriptif en dessous?</p>
        <p>Article commis le <%= article.created_at.strftime("%d %b %Y") %></p>
        <!-- <%#= sanitize article.text %>  -->
      </div>


    </div>
    <% end %>

  </div>

</div>
