<div class="container">
  <h1>Welcome to Lambert's Blog</h1>

  <div>
    <% @articles.each do |article| %>
      <div class="article-card">
        <div><%= cl_image_tag article.main_picture %></div>
        <div class="article-card-content">
          <%= article.title%>
          <!-- <%#= sanitize article.text %>  -->

        </div>
          <%= link_to "voir!", article_path(article.id) %>
      </div>
    <% end %>
  </div>

</div>
