<h1>Welcome to Lambert's Blog</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
      <%= article.text %>
      <%= cl_image_tag article.main_picture %>
      <%= link_to "voir!", article_path(article.id) %>
    </li>

  <% end %>
</ul>
