// .img {
//   width: 500px;
//   height: 600px;
//   object-fit: cover;
// }
// .carousel-inner {
//   display: flex;
//   justify-content: center;
// }
.carousel {
  width:960px;
  height:540px;
}

.img.d-block.w-75.img {
    margin-left: 210px;
}

.carousel-control-prev {
    // left: 0;
    margin-left: 175px;
}
